.add-color-container{
    display: flex;
    height: 100%;
}

.add-color-input-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-value{
    width: 50%;
}

.colorly-logo{
    margin: 0;
    width: 100%;
    font-size: 20px;
    border-radius: 7px;
    padding-left: 17px;
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);

}

.colorly-logo>a{
    text-decoration: none;
    margin-left: 16px;
}

.full-height{
    padding: 0;
    height: 100vh;
}

.color-name-input{
    margin: 20px;
    height: 25px;
    width: 70%;
    border-radius: 5px;
}

.error-div{
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    color: red;
}

.save-btn{
    margin-top: 35px;
    width: 120px;
    height: 32px;
    background-color: orange;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

@media all and (max-width: 550px){
    .add-color-input-container {
        width: 140%;
    }
}