
.home {
  border-top: 4px solid #648880;
}

.second-header-container {
  line-height: 44px;
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom: 66px;
  padding-left: 80px;
  text-align: center;
}

.second-header-container > h2 {
  font-size: 36px;
  color: #648880;
  margin: 0;
  font-weight: 300;
}

.second-header-container > p {
  font-size: 24px;
  color: white;
  font-weight: 100;
  margin-top: 0;
}

.second-header-container > a {
  border: 1px solid white;
  border-radius: 5px;
  color: #fff;
  margin-top: 0;
  cursor: pointer;
  font-weight: 400;
  padding: 10px 30px;
  text-decoration: none;
  letter-spacing: 0.5px;
  margin: auto;
  width: 125px;
  text-transform: uppercase;
}

.second-header-container > a:hover {
  background: #fff;
  color: #648880;
}

.content-container {
  background: #fff;
  padding: 66px 0 44px;
}

.content {
    width: 960px;
  margin: auto;
}

.box {
    padding: 0 15px;
}

.box>h5{
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
}

.box>a{
    color: #648880;
    text-decoration: none;
}

.box>a:hover{
    color: #a9b2b9;
}

.box>a>h3{
    margin-top: 0;
    font-size: 21px;
    font-weight: 300;
}

.box-img {
    margin-bottom: 22px;
    height: 200px;
  border-radius: 6px;
}


@media all and (max-width: 985px){
    .content{
        width: 100%;
    }

}


/* i pad */
@media all and (max-width: 800px) {

  .top-nav-details {
    width: 100%;
  }
 
}

@media all and (max-width: 700px){
    .content{
        flex-direction: column;
    }

    .second-header-container{
        padding: 10px 0 30px 0;
    width: 100%;
    }

}