.content-container {
    background: #fff;
    padding: 66px 0 44px;
}

.top-content{
    text-align: center;
    background: linear-gradient(to right,#a1d3b0,#f6f1d3);
    padding: 44px 98px 22px;
}

.top-content>h1{
    font-size: 36px;
    margin: 0 0 22px;
    font-weight: 300;
}

.top-content>p{
    font-size: 21px;
    margin: 0 0 22px;
}

.speaker{
    margin-bottom: 44px;
}

.speaker-details{
    width: 33.333%;
}

.speaker-content{
    width: 66.66%;
}
.speaker-content h2{
    font-size: 24px;
    margin: 0;
    font-weight: 300;
}

.speaker-content h5{
    margin: 5px 0px 15px;
    font-weight: 300;
    color: #a9b2b9;
    font-size: 14px;
}

.speaker-content p{
    margin-bottom: 22px;
}

.speaker-info{
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding-bottom: 22px;
    text-align: center;
    position: relative;
    margin: 68px auto 0px auto;
    width: 255px;
    padding-top: 80px;
    height: 45px;
}

.speaker-info-container{
    width: 33.33%;
}

.speaker-info img{
    border-radius: 50%;
    height: 130px;
    position: absolute;
    top: -68px;
    left: 23%;
}

@media all and (max-width: 785px){
    .speaker{
        flex-direction: column-reverse;
    }

    .speaker-info-container{
        width: 100%;
    margin-bottom: 20px;
    }

    .speaker-info{
        width: 100%;
        padding: 58px 0 64px 0px;
    }

    .speaker-info img{
        position: relative;
        margin: -83px 0 00;
        left: 0;
    }

    .speaker-content{
        width: 100%;
    }
}